<!DOCTYPE html>
<html lang = "en">
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>World Fact Book</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
   </head>
   
   <body>
      <div id="root">
         <section class="hero is-info">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                  World Factbook
                </h1>
              </div>
            </div>
         </section>
         <div class="container">
            <img class ="image is-128x128"src="https://cdn1.iconfinder.com/data/icons/earth-environment/128/globes-03-512.png">
         </div>
         <div class = "container">
         {% for name in names%}
            <a href="/country/{{name}}">{{name}}</a>
         {% endfor %}
         </div>
         <div class="container">
            <a class="button" href="/add">Add a country</a>
         </div>
      </div>
   </body>
</html>

